body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, #431757, #6b3883,#9737c4 );
    background-attachment: fixed;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px;
    border-radius: 15px;
    width: 25%;
    color: white;
}

legend, fieldset {
    border: 3px solid #AE3DE3;
}

legend {
    background: #AE3DE3;
    border-radius: 5px;
}

fieldset {
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

.inputbox {
    position: relative;
}

.inputuser {
    background: none;
    border:none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelinput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputuser:focus ~ .labelinput,
.inputuser:valid ~ .labelinput {
    top: -20px;
    font-size: 12px;
    color: #AE3DE3;
}

.data {
    border: none;
    padding: 6px;
    border-radius: 10px;
    outline: none;
}

#submit {
    background-image: linear-gradient(to right,#431757, #6b3883,#431757 );
    border: 0.5px rgba(0, 0, 0, 0.1) solid;
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

#submit:hover {
    background-image: linear-gradient(to right,#260d31, #3c1e49,#351246);
}